<a href="javascript:;" class="certificate">
  <div class="certificate__img">
    <div class="certificate__img__hover">
      <p class="paragraph-1">DESCARGAR CERTIFICADO</p>
    </div>
    <img src="img/certificate-small.jpg" alt="certificate" class="img-responsive">
  </div>
  <div class="certificate__detail">
    <div class="certificate__detail__content">
      <p class="h4">Marketing para expertos</p>
      <p class="paragraph-1"><b>Fecha finalización curso:</b> 22/10/2016</p>
      <button class="btn btn-sm btn-link2"><i class="icn icn-24"></i><span>DESCARGAR CERTIFICADO</span></button>
    </div>
  </div>
</a>