<div class="col-md-12 comments">
    <div class="comments__user">
        <div class="comments__sender hidden-xs">
            <div class="sender__img">
              <img src="img/user-default-xs.png" alt="User" class="img-responsive">
            </div>
            <div class="sender__data">
              <p><b>María Velazques</b></p>
              <p><i>27/02/2017
              <br>15:30</i></p>
            </div>
        </div>
        <div class="comments__comment">
          <div class="comments__comment__dialog">
              <i class="fa fa-caret-left" aria-hidden="true"></i>

              <p>Hola Juan, podés hacerlo siempre y cuando lo especifiques en la hoja de balance. Recordá que especificar la moneda es un requerimiento legal.</p>
          </div>
        </div>
        <div class="comments__sender visible-xs">
            <div class="sender__img">
              <img src="img/user-default-xs.png" alt="User" class="img-responsive">
            </div>
            <div class="sender__data">
              <p><b>María Velazques</b></p>
              <p><i>27/02/2017
              <br>15:30</i></p>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <div class="comments__admin">
        <div class="comments__sender hidden-xs">
            <div class="sender__img">
              <img src="img/user-default-xs.png" alt="User" class="img-responsive">
            </div>
            <div class="sender__data">
              <p><b>María Velazques</b></p>
              <p><i>27/02/2017
              <br>15:30</i></p>
            </div>
        </div>
        <div class="comments__comment">
          <div class="comments__comment__dialog">
              <i class="fa fa-caret-left" aria-hidden="true"></i>

              <p>Hola Juan, podés hacerlo siempre y cuando lo especifiques en la hoja de balance. Recordá que especificar la moneda es un requerimiento legal.</p>
          </div>
        </div>
        <div class="comments__sender visible-xs">
            <div class="sender__img">
              <img src="img/user-default-xs.png" alt="User" class="img-responsive">
            </div>
            <div class="sender__data">
              <p><b>María Velazques</b></p>
              <p><i>27/02/2017
              <br>15:30</i></p>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <span class="clearfix"></span>
    <span class="comments__actions">
        <form action="" class="comments__actions__comment">
            <div class="form-group">
                <textarea type="text" class="form-control" id="consulta3" placeholder="Ingresá tu consulta..." rows="4" onkeyup="textCounter(this,'counter',400);" required></textarea>
                <input disabled maxlength="400" size="24" class="hidden-xs counter" value="400 caracteres restantes" id="counter">               

            </div>
            <div class="checkbox">
              <input id="value6" type="checkbox" value="1" checked>
              <label for="value6">
                Quiero recibir notificaciones cada vez que alguien responda
              </label>
            </div>
            <div class="text-left comments__actions__comment__buttons">
              <button type="submit" class="btn btn-primary btn-md">ENVIAR</button>
            </div>          
        </form>

      
    </span>

</div>
