<div class="col-md-12 comments">
    <div class="comments__user">
        <div class="comments__sender hidden-xs">
            <div class="sender__img">
              <img src="img/user-default-xs.png" alt="User" class="img-responsive">
            </div>
            <div class="sender__data">
              <p><b>María Velazques</b></p>
              <p><i>27/02/2017
              <br>15:30</i></p>
            </div>
        </div>
        <div class="comments__comment">
          <div class="comments__comment__dialog">
              <i class="fa fa-caret-left" aria-hidden="true"></i>

              <p>Hola Juan, podés hacerlo siempre y cuando lo especifiques en la hoja de balance. Recordá que especificar la moneda es un requerimiento legal.</p>
          </div>
        </div>
        <div class="comments__sender visible-xs">
            <div class="sender__img">
              <img src="img/user-default-xs.png" alt="User" class="img-responsive">
            </div>
            <div class="sender__data">
              <p><b>María Velazques</b></p>
              <p><i>27/02/2017
              <br>15:30</i></p>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <div class="comments__admin">
        <div class="comments__sender hidden-xs">
            <div class="sender__img">
              <img src="img/user-default-xs.png" alt="User" class="img-responsive">
            </div>
            <div class="sender__data">
              <p><b>María Velazques</b></p>
              <p><i>27/02/2017
              <br>15:30</i></p>
            </div>
        </div>
        <div class="comments__comment">
          <div class="comments__comment__dialog">
              <i class="fa fa-caret-left" aria-hidden="true"></i>

              <p>Hola Juan, podés hacerlo siempre y cuando lo especifiques en la hoja de balance. Recordá que especificar la moneda es un requerimiento legal.</p>
          </div>
        </div>
        <div class="comments__sender visible-xs">
            <div class="sender__img">
              <img src="img/user-default-xs.png" alt="User" class="img-responsive">
            </div>
            <div class="sender__data">
              <p><b>María Velazques</b></p>
              <p><i>27/02/2017
              <br>15:30</i></p>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <span class="clearfix"></span>
    <span class="comments__actions">
        <!-- <button type="button" href="javascript:;" class="btn btn-xs btn-link">COMENTAR</button> -->
        <a href="foro-detail.html" class="btn btn-xs btn-link">VER DETALLE</a>
      
    </span>

</div>
