<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle navCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><p>Mis Cursos</p></a>
      <ul class="navbar-curse color-12 list-inline hidden-xs pull-right">
        <li><a class="active" href="course-dashboard.html"><i class="icn icn-5"></i><span>PANEL</span></a></li>
        <li><a class="" href="course-map.html"><i class="icn icn-6"></i><span>MAPA</span></a></li>
        <li><a class="" href="foro.html"><i class="icn icn-7"></i><span>FOROS</span></a></li>
      </ul>
    </div>

  </div><!-- /.container-fluid -->
</nav>
<nav class="main-nav">
      <div class="nav navbar-nav">
        <div class="nanavbar-user">
          <div class="navbar-user__img"><img src="img/user-default.png" alt="User Img" class="img-responsive"></div>
          <div class="navbar-user__data">
            <p class="h4">Daiana Arriola Gonsalez</p>
            <a href="user-data.html" class="btn btn-sm btn-link">Editar Perfil</a>
          </div>
          <button type="button" class="navCollapse">
            <span class="icn icn-2"></span>
          </button>                  
        </div>
        <ul class="navbar-principal list-unstyled">
            <li><a href="courses-all.html">Mis cursos</a></li>
            <li><a href="javascript:;">Mis consultas</a></li>
            <li><a href="javascript:;">Mis Certificados</a></li>
            <li><a href="javascript:;">Más cursos disponibles</a></li>
            <li><a href="javascript:;"><span class="icn icn-1"></span> Salir</a></li>
        </ul>
      </div>
      <a href="javascript:;" class="ayuda"><span>?</span>Ayuda</a>
</nav>
<div class="nav-overlay navCollapse"></div>
<div class="visible-xs">
  <div class="container">
    <div class="row">
        <ul class="navbar-curse list-inline color-1 text-justify col-xs-12">
          <li class="col-xs-4 text-center"><a class="active" href="course-dashboard.html"><i class="icn icn-8"></i><br><span>PANEL</span></a></li>
          <li class="col-xs-4 text-center"><a class="" href="course-map.html"><i class="icn icn-9"></i><br><span>MAPA</span></a></li>
          <li class="col-xs-4 text-center"><a class="" href="foro.html"><i class="icn icn-10"></i><br><span>FOROS</span></a></li>
        </ul>
    </div>  
  </div>
</div>
