// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}
body *{
  font-family: $text-font-stack;
}
body p {
  font-size: 13px;
  font-family: $text-font-stack;

}
section:first-of-type {
  padding-top: 100px;
  @include mq('mobile') {
    padding-top: 70px;
  }
}
/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
  @extend .animateEase;
} 

/**
 * Basic styles for links
 */
 .animateEase {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;  
 }
 button {
  font-family: $text-font-stack;
 }
a {
  color: $color-1;
  text-decoration: none;
  @extend .animateEase;

  @include on-event {
    color: $color-2;
    text-decoration: none;
  }
}

//Backgrounds
.bg-1 {	background-color: $color-1; }
.bg-2 {	background-color: $color-2; }
.bg-3 {	background-color: $color-3; }
.bg-4 {	background-color: $color-4; }
.bg-5 {	background-color: $color-5; }
.bg-6 {	background-color: $color-6; }
.bg-7 {	background-color: $color-7; }
.bg-8 {	background-color: $color-8; }
.bg-9 {	background-color: $color-9; }
.bg-10 { background-color: $color-10; }
.bg-11 { background-color: $color-11; }
.bg-12 { background-color: $color-12; }


//Colors
.color-1 { color: $color-1; }
.color-2 { color: $color-2; }
.color-3 { color: $color-3; }
.color-4 { color: $color-4; }
.color-5 { color: $color-5; }
.color-6 { color: $color-6; }
.color-7 { color: $color-7; }
.color-8 { color: $color-8; }
.color-9 { color: $color-9; }
.color-10 { color: $color-10; }
.color-11 { color: $color-11; }
.color-12 { color: $color-12; }

.img-responsive {
  display: inline-block
}
.relative{position: relative;}