// -----------------------------------------------------------------------------
// This file contains all styles related to the preloader component.
// -----------------------------------------------------------------------------

@-webkit-keyframes spinAnimation {
    0% {
        -webkit-transform: rotate(0deg);
        -khtml-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        -khtml-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes spinAnimation {
    0% {
        -webkit-transform: rotate(0deg);
        -khtml-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        -khtml-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
.spin {
    -webkit-animation: spinAnimation 1s infinite linear;
    animation: spinAnimation 1s infinite linear;
    margin-right: 15px;
}
.preloader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1030;
    .preloader {
        &::after {
            background: transparent;
        }
        position: sticky;
        display: inline-block;
        top: calc(50% - 120px);
        left: calc(50% - 120px);
        background-color: transparent;
        .bar,
        .fill {
            border-color: $color-1;
        }
        @include mq('mobile') {
            font-size: 130px;
            top: calc(50% - 65px);
            left: calc(50% - 65px);

        }
    }
}