// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
#courses {
	.courses__courses {
		position: relative;

		.courses-nav {
			margin: 20px 0 35px;
		    li {
	            padding: 0 15px;
	            &:first-of-type {
	            	padding-left: 0;
	            }
	            &:last-of-type {
	            	padding-right: 0;
	            }
		        a {
		            @extend .h4;
		            font-weight: 500;
		            @include on-event {
		                @extend .color-1;
		            }
		            &.active {
		                @extend .color-1;
		            }

		        }
		    }
            @include mq('mobile') {
        		text-align: center;
        		margin-bottom: 25px;
        		li {
       				padding: 0 12px;
        		}

            }
		}
	}
}