// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
#body {
	position: relative;
	width: 100%;
	height: auto;
	left: 0;
	nav{
		width: 100%;
		&.ocultar {
			@include mq('mobile') {
				top: -100px;
			}
		}		
		border-radius:0;
		height: auto;
		&.navbar {
			@extend .bg-1, .color-12;
			border: none;
			color: $color-12;
			.navbar-header{
				display: block;
				width: 100%;	
				line-height: 75px;
				margin: 0;
				.navbar-toggle {
					display: inline-block;
					border: none;
					padding: 7px 5px;
					margin: 0 15px 0 0;
					float: none;
					vertical-align: middle;
					line-height: inherit;
					span {
						@extend .bg-12;
						height: 3px;
					}
				    @include on-event {
				    	@extend .bg-12, .color-1;
				    	span {
							@extend .bg-1;
				    	}
				    }
					@include mq('mobile') {
						float: left;
						margin: 10px 7px 0 0;

					}

				}
				.navbar-brand {
					color: $color-12;
					padding: 0;
					line-height: inherit;
					display: inline-block;
					float: none;
					p {
						vertical-align: middle;
						display: inline-block;
						@extend .h3;
						@include mq('tablet') {
							font-size: 17px;
						}
						@include mq('mobile') {
							word-break: break-word;
							line-height: 17px;

						}
						
					}
					@include mq('mobile') {
				    	width: calc(100% - 39px);
						float: left;
					}
				}
				.navbar-curse {
					margin-top: 0;
					line-height: 75px;
					li {
						padding: 0 50px 0 0;
					    @include mq('desktop-sm') {
							padding: 0 30px 0 0;
						}
					    @include mq('tablet') {
							padding: 0 15px 0 0;
						}
						&:last-of-type {
							padding: 0;
						}
						a {
							font-size: 15px;
							text-align: left;
							vertical-align: middle;
							* {
								vertical-align: middle;
							}
							i{
								margin: 0 10px 0 0;
							}
							span {
								display: inline-block;
							}
						}
					}
				}
			    @include mq('mobile') {
			    	line-height: 51px;
			    	padding: 5px 0;
			    }
			}
		}
		&.main-nav{
			box-sizing: brder-box;
			@extend .bg-12;
			position: fixed;
			left: -352px;
			top: 0;
			height: 100vh;
			width: 318px;
			z-index: 1032;
			padding: 28px 0 21px;
			.navbar-nav {
				display: block;
				width: 100%;
			    @include mq('mobile') {
			    	margin: 0;
			    }
				.nanavbar-user {
					position: relative;
					padding: 0 17px 0 20px;
					display: table;
					width: 100%;
					margin-bottom: 25px;
					.navbar-user__data,
					.navbar-user__img {
						display: table-cell;
						vertical-align: middle;
					}
					.navbar-user__data {
						padding-left: 15px;
						padding-right: 27px;
						p {
							@extend .color-1;
						}
						a {
							font-weight: 400;
							padding-left: 0;
							line-height: 17px;
						}
					}
					button {
						position: absolute;
						right: 17px;
						top: 0;
						background: none;
						border: none;
						padding: 0;
					}
				}
				.navbar-principal {
					li {
						a {
							@extend .h4, .color-2;
							padding: 0 17px 0 20px;
							vertical-align: middle;
							line-height: 40px;
							display: block;
							width: 100%;
						    @include on-event  {
						    	@extend .color-1;
						    	padding-left: 25px;
						    }

						}
						&:nth-child(4) {
							border-bottom: 1px solid $color-3;
							border-top: 1px solid $color-3;
							margin: 15px 0;
							a{
								@extend .color-1, .bg-12;
								line-height: 60px;
								display: block;
							    @include on-event  {
									@extend .color-12, .bg-1;
							    }
							}
						}
						&:last-of-type {
							a{
								color:  $color-5;
								span {
									margin-right: 15px;
								}

							}
						}
					}
					hr {
						margin: 0;
					}
				}
			}
		}
	}
	.nav-overlay {
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		background: #000;
		opacity: 0;
		z-index: -1;
		visibility: hidden;

	}
	.navbar-curse {
		margin: 10px 0 0;
		line-height: 51px;
		&.text-justify {
			position: relative;
			top: 60px;
		}
		li {
			vertical-align: bottom;
			display: inline-block;
			&:last-of-type {
				padding-right: 0;
			}
			a {
				color: inherit;
				font-weight: 700;
				font-size: 10px;
				letter-spacing: 1px;
				display: inline-block;
				text-align: center;
				* {
					vertical-align: bottom;
					display: inline-block;
				}
				i {
					margin: 0 0 7px 0;
				}
				span {
					display: block;
					line-height: 12px;
				}
				&.active {
					opacity: .3;
				}
			    @include on-event  {
					opacity: .3;
			    }

				
			}
		}
	}
	&.navActive {
		position: fixed;
		overflow: hidden;
		left: 318px;
		.nav-overlay {
			z-index: 1;
			opacity: 0.7;
			z-index: 1031;
			visibility: visible;
		}
		nav {
			&.navbar {
				left: 318px;
			}
			&.main-nav {
				left: 0px;
			}
			.ayuda {
				position: absolute;
				bottom: 20px;
				font-weight: 700;
				text-transform: uppercase;
				left: 20px;
				letter-spacing: 1px;
				line-height: 20px;
				@extend .color-4;
				span {
					@extend .bg-1, .color-12, .text-center;
					border: 1px solid $color-1;
					border-radius: 50%;
					margin-right: 10px;
					text-align: center;
					display: inline-block;
					width: 19px;
					height: 19px;
					line-height: 19px;
				}
			    @include on-event {
			    	@extend .color-1;
					span {
						@extend .bg-12, .color-1;
					}
			    }
			}
		}
	}
}