   @@include('head.html')     
   @@include('nav2.html')     

      <section id="certificates">
        <div class="container-fluid">
          <div class="row">
              @@include('preloader.html')  
              <div class="col-md-6 certificates">
                  <h4>Descargá los certificados de tus cursos finalizados</h4>
                  @@include('certificate.html')     
                  @@include('certificate.html')     
                  @@include('certificate.html')     
                  <div class="visible-xs">
                      <a class="btn btn-block btn-md btn-dark" href="javascript:;">VER CURSOS DISPONIBLES</a>
                  </div>
                
              </div>
              <div class="col-md-6 more-courses hidden-xs">
                  <div class="right__content wow fadeIn" data-wow-duration="1s" data-wow-delay="800ms">
                      <p class="h1 color-12"><small>Conocé todos nuestros</small></p>
                      <h1 class="color-12">Cursos Online</h1>
                      <div class="clearfix"></div>
                      <a href="javascript:;" class="btn btn-md btn-primary">VER CURSOS DISPONIBLES</a>
                  </div>                
              </div>

             
        </div>
      </div>    
    </section>
@@include('footer.html')
