   @@include('head.html')     
   @@include('nav2.html')     

      <section id="course">
        <div class="container-fluid">
          <div class="row">
              @@include('preloader.html')  
              <div class="col-xs-12"> 
                <div class="block1 course__finish">
                    <div class="course__finish__data course__ended">
                        <div class="circle-container">
                          <i class="icn icn-17"></i>
                        </div>
                        <h2 class="color-1">Felicitaciones,<br class="visible-xs">   aprobaste el curso!</h2>
                        <h4>Ya tenés disponible tu certificado para descargar <br>  Podés solicitar tu certificado impreso a <a href="mailto:consulta@capacitarteuba.org">consulta@capacitarteuba.org</a> indicando tu número de documento y curso realizado.</h4>
                        <a class="btn btn-md btn-primary" href="certificates.html"><i class="icn icn-19"></i> DESCARGAR CERTIFICADO</a>
                        <div class="clearfix">  </div>
                        <a href="courses-all.html">VOLVER A LA PANTALLA PRINCIPAL</a>
                    </div>

                </div> <!-- end block1 -->
              </div>
             
        </div>
      </div>    
    </section>
@@include('footer.html')
