   @@include('head.html')     
   @@include('nav2.html')     

      <section id="course-lesson">
        <div class="container-fluid">
          <div class="row">
              @@include('preloader.html')  
  		        <div class="col-lg-9 col-sm-8">
                <div class="block1 course__lesson document">
                    <div class="block1__head">
                      <p><span>2.2</span> Ejemplos de cada tema visto en el curso teórico de sueldos</p>
                    </div>
                    <div class="lesson__document">
                      <div class="document scrollbar-outer">
                        <p>
                          Las horas extra, también llamadas horas extraordinarias o con mayor precisión “trabajo en tiempo suplementario” o “trabajo extraordinario” son excepciones a la jornada normal de trabajo y sólo pueden aplicarse en determinadas circunstancias previstas por el art. 203 de la ley de contrato de trabajo, ellas son:
                        </p>
                          <ol>
                            <li>
                              casos de peligro o fuerza mayor
                            
                            </li>
                            <li>
                              accidente ocurrido o inminente
                              
                            </li>
                            <li>
                              exigencias excepcionales de la economía nacional o de la empresa
                              
                            </li>
                          </ol>
                        <p>
                          Pero… ¿ cuál es esa jornada de trabajo normal?  ¿48 horas semanales como establece como máximo la ley de contrato de trabajo, o como por ejemplo 44 horas semanales que establezca el convenio colectivo de trabajo que se aplique a un determinado trabajador?

                          Pues bien la doctrina judicial impuesta en el caso “D’Aloi” ha señalado que el trabajo que exceda de los topes convenidos en el plano colectivo debe retribuírse como extra, aun cuando no se superen los máximos legales, sobre la base de considerar que el Convenio Colectivo tiene el efecto propio de una ley, con referencia al ámbito de actividad específico.La ley establece dos requisitos para autorizar la realización de horas extras y sólo en forma transitoria o extraordinaria:

                          - En la medida necesaria para resolver el problema
                          - Cuando el trabajo no pueda ser realizado en horas normales.

                          Así es como en el caso de accidente ocurrido o inminente o casos de fuerza mayor, siendo el hecho de tal magnitud, no se pueda abandonar el puesto de trabajo, cumplido el horario de salida si no se pudo resolver el problema, recordemos que según el art. 203 de la ley de contrato de trabajo el trabajador tiene el Deber de Colaboración en estos casos especiales y extraordinarios, destacando ls excepcionalidad de la situación pues, fuera de estas circunstancias, nunca podrá obligársele a trabajar horas extras.

                          Jorge Rodriguez Mancini   (Curso de Derecho del Trabajo y la Seguridad Social) destaca lo siguiente:“Por diversos motivos de índole socioeconómica relativos a la ya conocida insuficiencia de los salarios para afrontar las necesidades más elementales y a la consecuente necesidad del trabajador de contar con mayores ingresos, existe en nuestro país la difundida práctica de trabajar horas extra, sin que se 1. casos de peligro o fuerza mayor
                          2. accidente ocurrido o inminente
                          3. exigencias excepcionales de la economía nacional o de la empresa

                          Pero… ¿ cuál es esa jornada de trabajo normal?  ¿48 horas semanales como establece como máximo la ley de contrato de trabajo, o como por ejemplo 44 horas semanales que establezca el convenio colectivo de trabajo que se aplique a un determinado trabajador?

                          Pues bien la doctrina judicial impuesta en el caso “D’Aloi” ha señalado que el trabajo que exceda de los topes convenidos en el plano colectivo debe retribuírse como extra, aun cuando no se superen los máximos legales, sobre la base de considerar que el Convenio Colectivo tiene el efecto propio de una ley, con referencia al ámbito de actividad específico.La ley establece dos requisitos para autorizar la realización de horas extras y sólo en forma transitoria o extraordinaria:

                          - En la medida necesaria para resolver el problema
                          - Cuando el trabajo no pueda ser realizado en horas normales.

                          Así es como en el caso de accidente ocurrido o inminente o casos de fuerza mayor, siendo el hecho de tal magnitud, no se pueda abandonar el puesto de trabajo, cumplido el horario de salida si no se pudo resolver el problema, recordemos que según el art. 203 de la ley de contrato de trabajo el trabajador tiene el Deber de Colaboración en estos casos especiales y extraordinarios, destacando ls excepcionalidad de la situación pues, fuera de estas circunstancias, nunca podrá obligársele a trabajar horas extras.

                          Jorge Rodriguez Mancini   (Curso de Derecho del Trabajo y la Seguridad Social) destaca lo siguiente:“Por diversos motivos de índole socioeconómica relativos a la ya conocida insuficiencia de los salarios para afrontar las necesidades más elementales y a la consecuente necesidad del trabajador de contar con mayores ingresos, existe en nuestro país la difundida práctica de trabajar horas extra, sin que se 
                        </p>
                        <p>
                          Las horas extra, también llamadas horas extraordinarias o con mayor precisión “trabajo en tiempo suplementario” o “trabajo extraordinario” son excepciones a la jornada normal de trabajo y sólo pueden aplicarse en determinadas circunstancias previstas por el art. 203 de la ley de contrato de trabajo, ellas son:

                          1. casos de peligro o fuerza mayor
                          2. accidente ocurrido o inminente
                          3. exigencias excepcionales de la economía nacional o de la empresa

                          Pero… ¿ cuál es esa jornada de trabajo normal?  ¿48 horas semanales como establece como máximo la ley de contrato de trabajo, o como por ejemplo 44 horas semanales que establezca el convenio colectivo de trabajo que se aplique a un determinado trabajador?

                          Pues bien la doctrina judicial impuesta en el caso “D’Aloi” ha señalado que el trabajo que exceda de los topes convenidos en el plano colectivo debe retribuírse como extra, aun cuando no se superen los máximos legales, sobre la base de considerar que el Convenio Colectivo tiene el efecto propio de una ley, con referencia al ámbito de actividad específico.La ley establece dos requisitos para autorizar la realización de horas extras y sólo en forma transitoria o extraordinaria:

                          - En la medida necesaria para resolver el problema
                          - Cuando el trabajo no pueda ser realizado en horas normales.

                          Así es como en el caso de accidente ocurrido o inminente o casos de fuerza mayor, siendo el hecho de tal magnitud, no se pueda abandonar el puesto de trabajo, cumplido el horario de salida si no se pudo resolver el problema, recordemos que según el art. 203 de la ley de contrato de trabajo el trabajador tiene el Deber de Colaboración en estos casos especiales y extraordinarios, destacando ls excepcionalidad de la situación pues, fuera de estas circunstancias, nunca podrá obligársele a trabajar horas extras.

                          Jorge Rodriguez Mancini   (Curso de Derecho del Trabajo y la Seguridad Social) destaca lo siguiente:“Por diversos motivos de índole socioeconómica relativos a la ya conocida insuficiencia de los salarios para afrontar las necesidades más elementales y a la consecuente necesidad del trabajador de contar con mayores ingresos, existe en nuestro país la difundida práctica de trabajar horas extra, sin que se 1. casos de peligro o fuerza mayor
                          2. accidente ocurrido o inminente
                          3. exigencias excepcionales de la economía nacional o de la empresa

                          Pero… ¿ cuál es esa jornada de trabajo normal?  ¿48 horas semanales como establece como máximo la ley de contrato de trabajo, o como por ejemplo 44 horas semanales que establezca el convenio colectivo de trabajo que se aplique a un determinado trabajador?

                          Pues bien la doctrina judicial impuesta en el caso “D’Aloi” ha señalado que el trabajo que exceda de los topes convenidos en el plano colectivo debe retribuírse como extra, aun cuando no se superen los máximos legales, sobre la base de considerar que el Convenio Colectivo tiene el efecto propio de una ley, con referencia al ámbito de actividad específico.La ley establece dos requisitos para autorizar la realización de horas extras y sólo en forma transitoria o extraordinaria:

                          - En la medida necesaria para resolver el problema
                          - Cuando el trabajo no pueda ser realizado en horas normales.

                          Así es como en el caso de accidente ocurrido o inminente o casos de fuerza mayor, siendo el hecho de tal magnitud, no se pueda abandonar el puesto de trabajo, cumplido el horario de salida si no se pudo resolver el problema, recordemos que según el art. 203 de la ley de contrato de trabajo el trabajador tiene el Deber de Colaboración en estos casos especiales y extraordinarios, destacando ls excepcionalidad de la situación pues, fuera de estas circunstancias, nunca podrá obligársele a trabajar horas extras.

                          Jorge Rodriguez Mancini   (Curso de Derecho del Trabajo y la Seguridad Social) destaca lo siguiente:“Por diversos motivos de índole socioeconómica relativos a la ya conocida insuficiencia de los salarios para afrontar las necesidades más elementales y a la consecuente necesidad del trabajador de contar con mayores ingresos, existe en nuestro país la difundida práctica de trabajar horas extra, sin que se 
                        </p>
                      </div>
                    </div>

                </div> <!-- end block1 -->
                <div class="block1 lesson__nav hidden-xs">
                  <a href="course-lesson.html" class="lesson__nav__controller prev">
                    <div class="icn arrow"></div>
                    <div class="lesson__nav__controller__text">
                      <p>Clase <br class="visible-xs">Anterior</p>
                      <p class="hidden-xs"><span>1.7</span> Exámen final módulo 1</p>
                    </div>
                  </a> <!-- end lesson__nav__controller -->
                  <a href="course-lesson.html" class="lesson__nav__controller next">
                    <div class="icn arrow"></div>
                    <div class="lesson__nav__controller__text">
                      <p>Clase <br class="visible-xs">Siguiente</p>
                      <p class="hidden-xs"><span>1.8</span> Ejemplos de horas extras</p>
                    </div>
                  </a> <!-- end lesson__nav__controller -->
                  <span class="clearfix"></span>
                </div> <!-- end block1 -->
              </div>
              <div class="col-lg-3 col-sm-4">
                <div class="block1 lesson__complementary">
                      <div class="block1__head">
                        <p>Material Complementario</p>
                      </div>
                      <a href="javascript:;"><span><i class="icn icn-14"></i></span><span>Apuntes de la clase</span></a>
                      <a href="javascript:;"><span><i class="icn icn-15"></i></span><span>Planilla de liquidación d sueldos</span></a>
                </div>
                <div class="visible-xs lesson__nav">
                  <a href="course-lesson.html" class="lesson__nav__controller prev">
                    <div class="icn arrow"></div>
                    <div class="lesson__nav__controller__text">
                      <p>Clase <br class="visible-xs">Anterior</p>
                      <p class="hidden-xs"><span>1.7</span> Exámen final módulo 1</p>
                    </div>
                  </a> <!-- end lesson__nav__controller -->
                  <a href="course-lesson.html" class="lesson__nav__controller next">
                    <div class="icn arrow"></div>
                    <div class="lesson__nav__controller__text">
                      <p>Clase <br class="visible-xs">Siguiente</p>
                      <p class="hidden-xs"><span>1.8</span> Ejemplos de horas extras</p>
                    </div>
                  </a> <!-- end lesson__nav__controller -->
                  <span class="clearfix"></span>
                </div> <!-- end block1 -->                
              </div>
  
        </div>
      </div>    
    </section>
@@include('footer.html')
<script>
$(document).ready(function () {
    App.customScroll();
    // window.onresize = function() {
    //   App.customScroll();
    // }
});

</script>