   @@include('head.html')     
   @@include('nav2.html')     

      <section id="courses-map">
        <div class="container-fluid">
          <div class="  relative row">
              @@include('preloader.html')  
  		        <div class="col-xs-12">
                  <div class="block1 course__map">
                      <div class="course__module">
                          <div class="course__module__head">
                            <div>
                              <div class="circle-finished"><i class="icn icn-4"></i></div>
                       

                            </div>
                            <div class="course__module__head__title">
                              <p>Módulo 1</p>
                              <h3 class="h4">Conceptos generales y particulares</h3>
                            </div>
                          </div> <!-- end of course__module__head -->
                          <ul class="itemliststate">
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.1
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Conceptos generales de la liquidación de sueldos.
                                  </span>
                                  <span class="itemliststate__item__cell">
                                    <i class="icn icn-11"></i>
                                    <i class="icn icn-12" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="<iframe src='https://player.vimeo.com/video/15437192?autoplay=1' width='100%' height='auto' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"></i>
                                    <!-- importante, a la url clasica del video, hay que añadirle ?autoplay=1 para que este zse reprodusca de manera automatica -->
                                  </span>
                                </a>
                              </li>
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.2
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Normativa legal vigente
                                  </span>
                                  <span class="itemliststate__item__cell">
                                    <i class="icn icn-11"></i>
                                    <i class="icn icn-12" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="<iframe src='https://player.vimeo.com/video/15437192?autoplay=1' width='100%' height='auto' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"></i>
                                    <!-- importante, a la url clasica del video, hay que añadirle ?autoplay=1 para que este zse reprodusca de manera automatica -->
                                  </span>
                                </a>
                              </li>
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.3
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Esquema de liquidación de sueldos
                                  </span>
                                  <span class="itemliststate__item__cell">
                                    <i class="icn icn-11"></i>
                                    <i class="icn icn-12" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="<iframe src='https://player.vimeo.com/video/15437192?autoplay=1' width='100%' height='auto' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"></i>
                                    <!-- importante, a la url clasica del video, hay que añadirle ?autoplay=1 para que este zse reprodusca de manera automatica -->
                                  </span>
                                </a>
                              </li>
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.4
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Conceptos generales de la liquidación de sueldos.
                                  </span>
                                  <span class="itemliststate__item__cell">
                                    <i class="icn icn-11"></i>
                                    <i class="icn icn-12" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="<iframe src='https://player.vimeo.com/video/15437192?autoplay=1' width='100%' height='auto' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"></i>
                                    <!-- importante, a la url clasica del video, hay que añadirle ?autoplay=1 para que este zse reprodusca de manera automatica -->
                                  </span>
                                </a>
                              </li>
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.5
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Conceptos generales de la liquidación de sueldos.
                                  </span>
                                  <span class="itemliststate__item__cell">
                                    <i class="icn icn-11"></i>
                                    <i class="icn icn-12" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="<iframe src='https://player.vimeo.com/video/15437192?autoplay=1' width='100%' height='auto' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"></i>
                                    <!-- importante, a la url clasica del video, hay que añadirle ?autoplay=1 para que este zse reprodusca de manera automatica -->
                                  </span>
                                </a>
                              </li>
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.5
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Normativa legal vigente
                                  </span>
                                  <span class="itemliststate__item__cell">
                                    <i class="icn icn-11"></i>
                                    <i class="icn icn-13"></i>
                                  </span>
                                </a>

                              </li>
                          </ul> <!-- end of itemliststate -->
                      </div> <!-- end of course__module -->
                      <div class="course__module">
                          <div class="course__module__head">
                            <div>
                              <div class="c100 p20 small"><!-- la clase p indica el porcentaje del total alcanzado -->
                                <span>20</span>
                                <div class="slice">
                                  <div class="bar"></div>
                                  <div class="fill"></div>
                                </div>
                              </div>   <!-- end circle -->                            
                       

                            </div>
                            <div class="course__module__head__title">
                              <p>Módulo 2</p>
                              <h3 class="h4">Casos prácticos</h3>
                            </div>
                          </div> <!-- end of course__module__head -->
                          <ul class="itemliststate">
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.1
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Taller práctico de temas de liquidación de sueldos.
                                  </span>
                                  <span class="itemliststate__item__cell">
                                    <i class="icn icn-11"></i>
                                    <i class="icn icn-12" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="<iframe src='https://player.vimeo.com/video/15437192?autoplay=1' width='100%' height='auto' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"></i>
                                    <!-- importante, a la url clasica del video, hay que añadirle ?autoplay=1 para que este zse reprodusca de manera automatica -->
                                  </span>
                                </a>
                              </li>
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.2
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Ejemplos de cada tema visto en el curso teórico de sueldos.
                                    <span class="clearxfix"></span>
                                    <button type="button" class="visible-xs btn btn-sm btn-primary">CONTINUAR</button >

                                  </span>
                                  <span class="itemliststate__item__cell">
                                  <button type="button" class="hidden-xs btn btn-xs btn-primary">CONTINUAR</button >
                                    <!-- <i class="icn icn-11"></i> -->
                                    <i class="icn icn-12" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="<iframe src='https://player.vimeo.com/video/15437192?autoplay=1' width='100%' height='auto' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"></i>
                                    <!-- importante, a la url clasica del video, hay que añadirle ?autoplay=1 para que este zse reprodusca de manera automatica -->
                                  </span>
                                </a>
                              </li>
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.3
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Ejemplos de horas extras.
                                  </span>
                                  <span class="itemliststate__item__cell">
                                    <!-- <i class="icn icn-11"></i> -->
                                    <i class="icn icn-12" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="<iframe src='https://player.vimeo.com/video/15437192?autoplay=1' width='100%' height='auto' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"></i>
                                    <!-- importante, a la url clasica del video, hay que añadirle ?autoplay=1 para que este zse reprodusca de manera automatica -->
                                  </span>
                                </a>
                              </li>
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.4
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Ejemplos de sueldo anual complementario.
                                  </span>
                                  <span class="itemliststate__item__cell">
                                    <!-- <i class="icn icn-11"></i> -->
                                    <i class="icn icn-12" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="<iframe src='https://player.vimeo.com/video/15437192?autoplay=1' width='100%' height='auto' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"></i>
                                    <!-- importante, a la url clasica del video, hay que añadirle ?autoplay=1 para que este zse reprodusca de manera automatica -->
                                  </span>
                                </a>
                              </li>
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.5
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Ejemplos de  vacaciones.
                                  </span>
                                  <span class="itemliststate__item__cell">
                                    <!-- <i class="icn icn-11"></i> -->
                                    <i class="icn icn-12" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="<iframe src='https://player.vimeo.com/video/15437192?autoplay=1' width='100%' height='auto' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"></i>
                                    <!-- importante, a la url clasica del video, hay que añadirle ?autoplay=1 para que este zse reprodusca de manera automatica -->
                                  </span>
                                </a>
                              </li>
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.6
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Ejemplos de renuncias y despidos.
                                  </span>
                                  <span class="itemliststate__item__cell">
<!--                                     <i class="icn icn-11"></i>
 -->                                    
                                    <i class="icn icn-12" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="<iframe src='https://player.vimeo.com/video/15437192?autoplay=1' width='100%' height='auto' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"></i>
                                    <!-- importante, a la url clasica del video, hay que añadirle ?autoplay=1 para que este zse reprodusca de manera automatica -->
                                  </span>
                                </a>

                              </li>
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.7
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Examen final módulo 2
                                  </span>
                                  <span class="itemliststate__item__cell">
<!--                                     <i class="icn icn-11"></i>
 -->                                    <i class="icn icn-13"></i>
                                  </span>
                                </a>

                              </li>
                              <li class="itemliststate__item">
                                <a href="course-lesson.html">
                                  
                                  <span class="itemliststate__item__cell">
                                    1.8
                                  </span>
                                  <span class="itemliststate__item__cell mainItem">
                                    Examen integradpor
                                  </span>
                                  <span class="itemliststate__item__cell">
<!--                                     <i class="icn icn-11"></i>
 -->                                    <i class="icn icn-13"></i>
                                  </span>
                                </a>

                              </li>
                          </ul> <!-- end of itemliststate -->
                      </div> <!-- end of course__module -->
                     
                  </div>
                  <span class="clearfix"></span>
  		        </div> <!-- end progress block1  --> 

        </div>
      </div>    
    </section>
@@include('footer.html')
<script>
  $(document).ready(function(){
      App.PopOver();
    });
</script>