   @@include('head.html')     
   @@include('nav2.html')     

      <section id="course-lesson">
        <div class="container-fluid">
          <div class="row">
              @@include('preloader.html')  
  		        <div class="col-lg-9 col-sm-8">
                <div class="block1 course__lesson video">
                    <div class="block1__head">
                      <p><span>2.2</span> Ejemplos de cada tema visto en el curso teórico de sueldos</p>
                    </div>
                    <div class="lesson__video">
                      <iframe src='https://player.vimeo.com/video/15437192' width='100%' height='600' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>

                </div> <!-- end block1 -->
                <div class="block1 lesson__nav hidden-xs">
                  <a href="course-lesson.html" class="lesson__nav__controller prev">
                    <div class="icn arrow"></div>
                    <div class="lesson__nav__controller__text">
                      <p>Clase <br class="visible-xs">Anterior</p>
                      <p class="hidden-xs"><span>1.7</span> Exámen final módulo 1</p>
                    </div>
                  </a> <!-- end lesson__nav__controller -->
                  <a href="course-lesson.html" class="lesson__nav__controller next">
                    <div class="icn arrow"></div>
                    <div class="lesson__nav__controller__text">
                      <p>Clase <br class="visible-xs">Siguiente</p>
                      <p class="hidden-xs"><span>1.8</span> Ejemplos de horas extras</p>
                    </div>
                  </a> <!-- end lesson__nav__controller -->
                  <span class="clearfix"></span>
                </div> <!-- end block1 -->
              </div>
              <div class="col-lg-3 col-sm-4">
                <div class="block1 lesson__conceptosDestacados">
                      <div class="block1__head">
                        <p>Conceptos destacados</p>
                      </div>

                      <ul class="itemliststate">
                          <li class="itemliststate__item">
                            <a href="javascript:;">
                              
                              <span class="itemliststate__item__cell">
                                →
                              </span>
                              <span class="itemliststate__item__cell mainItem">
                                Liquidar a empleado de tiempo completo
                              </span>
                              <span class="itemliststate__item__cell">
                                00:40
                              </span>
                            </a>
                          </li>
                          <li class="itemliststate__item">
                            <a href="javascript:;">
                              
                              <span class="itemliststate__item__cell">
                                →
                              </span>
                              <span class="itemliststate__item__cell mainItem">
                                Liquidación de SAC
                              </span>
                              <span class="itemliststate__item__cell">
                                05:25
                              </span>
                            </a>
                          </li>
                          <li class="itemliststate__item">
                            <a href="javascript:;">
                              
                              <span class="itemliststate__item__cell">
                                →
                              </span>
                              <span class="itemliststate__item__cell mainItem">
                                Liquidación de administrativos
                              </span>
                              <span class="itemliststate__item__cell">
                                02:50
                              </span>
                            </a>
                          </li>
                      </ul>                        
                </div>
                <div class="block1 lesson__complementary">
                      <div class="block1__head">
                        <p>Material Complementario</p>
                      </div>
                      <a href="javascript:;"><span><i class="icn icn-14"></i></span><span>Apuntes de la clase</span></a>
                      <a href="javascript:;"><span><i class="icn icn-15"></i></span><span>Planilla de liquidación d sueldos</span></a>
                      <a href="javascript:;"><span><i class="icn icn-16"></i></span><span>Metodologías de estudio</span></a>
                      <a href="javascript:;"><span><i class="icn icn-16"></i></span><span>Cálculo de SACv</span></a>
                </div>
                <div class="visible-xs lesson__nav">
                  <a href="course-lesson.html" class="lesson__nav__controller prev">
                    <div class="icn arrow"></div>
                    <div class="lesson__nav__controller__text">
                      <p>Clase <br class="visible-xs">Anterior</p>
                      <p class="hidden-xs"><span>1.7</span> Exámen final módulo 1</p>
                    </div>
                  </a> <!-- end lesson__nav__controller -->
                  <a href="course-lesson.html" class="lesson__nav__controller next">
                    <div class="icn arrow"></div>
                    <div class="lesson__nav__controller__text">
                      <p>Clase <br class="visible-xs">Siguiente</p>
                      <p class="hidden-xs"><span>1.8</span> Ejemplos de horas extras</p>
                    </div>
                  </a> <!-- end lesson__nav__controller -->
                  <span class="clearfix"></span>
                </div> <!-- end block1 -->                
              </div>
  
        </div>
      </div>    
    </section>
@@include('footer.html')
