 @@include('head.html')     

    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div class="container">
        <h3 class="text-muted">capacitarte</h3>

      <div class="">
        <h3>Secciones</h3>
          <ul class="unordered-list list">
            <li class="">
              <a href="login.html">Login</a>
            </li>
            <li class="">
              <a href="rec-pass.html">Recuperar contraseña</a>
            </li>
            <li class="">
              <a href="rec-pass-mail.html">Recuperar contraseña mail</a>
            </li>
            <li class="">
              <a href="rec-pass-new.html">Nueva contraseña</a>
            </li>
            <li class="">
              <a href="courses-all.html">Cursos All</a>
            </li>
            <li class="">
              <a href="course-dashboard.html">Curso Dashboard</a>
            </li>
            <li class="">
              <a href="user-data.html">Perfil Usuario</a>
            </li>
            <li class="">
              <a href="course-map.html">Mapa del curso</a>
            </li>
            <li class="">
              <a href="course-lesson.html">Curso detalle Video</a>
            </li>
            <li class="">
              <a href="course-lesson2.html">Curso detalle Documento</a>
            </li>
            <li class="">
              <a href="course-exam.html">Curso Exámen</a>
            </li>
            <li class="">
              <a href="course-exam-answers.html">Curso Exámen Respuetas</a>
            </li>
            <li class="">
              <a href="course-exam-aproved.html">Curso Exámen Aprobado</a>
            </li>
            <li class="">
              <a href="course-exam-fail.html">Curso Exámen Desaprobado</a>
            </li>
            <li class="">
              <a href="course-ended.html">Curso Terminado</a>
            </li>
            <li class="">
              <a href="foro.html">Foro</a>
            </li>
            <li class="">
              <a href="foro-detail.html">Foro detalle </a>
            </li>
            <li class="">
              <a href="certificates.html">Certificados </a>
            </li>
<!--             <li class="">
              <a href="courses-inprogress.html">Cursos En progreso</a>
            </li>
            <li class="">
              <a href="courses-finished.html">Cursos Finalizados</a>
            </li>
 --> 
          </ul>
        </div>
        <div class="col-xs-12">
          <h1>Titulo 1</h1>
          <h2>Titulo 2</h2>
          <h3>Titulo 3</h3>
          <h4>Titulo 4</h4>
          <h5>Titulo 5</h5>
          <ul>
            <li class="h5 color-1">Color 1</li>
            <li class="h5 color-2">Color 2</li>
            <li class="h5 color-3">Color 3</li>
            <li class="h5 color-4">Color 4</li>
            <li class="h5 color-5">Color 5</li>
            <li class="h5 color-6">Color 6</li>
            <li class="h5 color-7">Color 7</li>
            <li class="h5 color-8">Color 8</li>
            <li class="h5 color-9">Color 9</li>
            <li class="h5 color-10">Color 10</li>
            <li class="h5 color-11 bg-5">Color 11</li>
            <li class="h5 color-12 bg-5">Color 12</li>
          </ul>
          <ul class="list-inline">
            <li style=" width: 50px; height: 50px;" class="color-12 bg-1">bg-1</li>
            <li style=" width: 50px; height: 50px;" class="color-12 bg-2">bg-2</li>
            <li style=" width: 50px; height: 50px;" class="color-12 bg-3">bg-3</li>
            <li style=" width: 50px; height: 50px;" class="color-12 bg-4">bg-4</li>
            <li style=" width: 50px; height: 50px;" class="color-12 bg-5">bg-5</li>
            <li style=" width: 50px; height: 50px;" class="color-12 bg-6">bg-6</li>
            <li style=" width: 50px; height: 50px;" class="color-12 bg-7">bg-7</li>
            <li style=" width: 50px; height: 50px;" class="color-12 bg-8">bg-8</li>
            <li style=" width: 50px; height: 50px;" class="color-12 bg-9">bg-9</li>
            <li style=" width: 50px; height: 50px;" class="color-1 bg-10">bg-10</li>
            <li style=" width: 50px; height: 50px;" class="color-1 bg-11">bg-11</li>
            <li style=" width: 50px; height: 50px;" class="color-1 bg-12">bg-12</li>
          </ul>
        </div>
        
    </div>
    
@@include('footer.html')